* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

#addTaskBtn {
    background: #2563eb;
    color: white;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.filter-btn {
    background: #e5e7eb;
}

.filter-btn.active {
    background: #2563eb;
    color: white;
}

#taskList {
    list-style: none;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-bottom: 10px;
    background: #f8fafc;
    border-radius: 6px;
}

.task-text {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.edit-btn {
    background: #f59e0b;
    color: white;
}

.delete-btn {
    background: #ef4444;
    color: white;
}